<div class="page" data-name="risultato">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <!---<div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>!---->
      <div class="title">Quiz Terminato</div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="block block-strong">
      <p>Hai totalizzato <span id="punteggio"></span> punti.</p>
    </div>
    <div class="card">
      <div class="card-content card-content-padding">
        <div class="row">
          <div class="col">
            Livello raggiunto
          </div>
        </div>
        <div class="row trofeo" id="trofeo">
          <div class="col">
            <!--<i class="icon material-icons md-only">school</i>!-->
            <img src="../public/images/star.png" style="width:185px; height: 125px;">
            <span id="animation_bar"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- Inset content block -->
    <div class="block block-strong">
      
        <div class="row">
        <div class="col">
          <a href="/risultati/" class="col button button-big button-fill">Vedi risposte date</a>
        </div>
      </div>
    
      <div class="row">
        <div class="col">
          <a href="/categorie/" class="col button button-big button-fill">Nuovo quiz</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a href="/classifica/" class="col button button-big button-fill">Visualizza classifica</a>
        </div>
      </div>
    </div>

    <div class="visitaSito">
      
    <center><p><img src="public/images/logo.png" style="width:260px; height: 70px;" onclick="window.open('https://bearzi.it/') "></p>
    <a onclick="window.open('https://bearzi.it/')">Visita il nostro sito</a></center>
    
    </div>

  </div>
</div>