<div class="page" data-name="risultati">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <!---<div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div> !---->
      <div class="title">Nome categoria</div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <template id="tmpl-risposta">
      <li class="{class}">
        <div class="item-content">
          <div class="item-media">
            {icon}
          </div>
          <div class="item-inner">
            <div class="item-title">{risposta}</div>
            <!-- <div class="item-after">CEO</div> -->
          </div>
        </div>
      </li>
    </template>
    <template id="tmpl-good">
      <i class="icon material-icons md-only green">thumb_up_alt</i>
    </template>
    <template id="tmpl-bad">
      <i class="icon material-icons md-only red">thumb_down_alt</i>
    </template>
    <template id="tmpl-correct">
      <i class="icon material-icons md-only blue">check_circle</i>
    </template>
    <template id="tmpl-notgood">
      <i class="icon material-icons md-only">thumb_down_alt</i>
    </template>
    <div class="block testo-domanda">
      <p></p>
    </div>
    <div class="list media-list risposte">
      <form>
        <ul>

        </ul>
      </form>
    </div>
    <div class="block avanti">
      <div class="row">
        <div class="col">
          <a href="#" class="col button button-big button-fill" id="btn-precedente">Precedente</a>
        </div>
        <div class="col">
          <a href="#" class="col button button-big button-fill" id="btn-successiva">Successiva</a>
        </div>
      </div>
    </div>

  </div>
</div>