<div class="page" data-name="categorie">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">Scegli una categoria</div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <template id="tmpl-categoria">
      <li>
        <a href="#" class="item-link item-content" data-id="{id}">
          <div class="item-media"><img src="{icon}"
              width="44" /></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">{nome}</div>
            </div>
          </div>
        </a>
      </li>
    </template>
    <div class="list media-list categorie">
      <ul>

      </ul>
    </div>
  </div>
</div>