<div class="page" data-name="domanda">
  <div class="navbar">
    <div class="navbar-inner sliding">
      <!---<div class="left">
        <a href="#" class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div> !---->
      <div class="title">Nome categoria</div>
      <div class="right">
        <a href="#" class="link icon-only panel-open" data-panel="right">
          <i class="icon material-icons md-only">menu</i>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <template id="tmpl-risposta">
      <li>
        <label class="item-radio item-content">
          <input type="radio" name="id_risposta" value="{id_risposta}" />
          <i class="icon icon-radio" id="btn-risposta"></i>
          <div class="item-inner">
            <div class="item-text">{risposta}</div>
          </div>
        </label>
      </li>
    </template>
    <div class="block testo-domanda">
      <p></p>
    </div>
    <div class="list media-list risposte">
      <form>
        <ul>

        </ul>
      </form>
    </div>
    <div class="block avanti">
      <div class="row">
        <div class="col">
          <a href="#" class="col button button-big button-fill" id="btn-avanti">Avanti</a>
        </div>
      </div>
    </div>

  </div>
</div>